Flask==0.12.2
Jinja2==2.9.6
MarkupSafe==1.0
Werkzeug==0.12.2
argparse==1.2.1
click==6.7
itsdangerous==0.24
wsgiref==0.1.2

**What do all these packages do?**

Flask uses Click (Command 
Line Interface Creation Kit) for its command-line 
interface, which allows you to add custom shell commands 
for your app.

ItsDangerous provides security when sending 
data using cryptographical signing.

Jinja2 is a powerful template engine for Python, while 
MarkupSafe is a HTML string handling library.

Werkzeug is a utility library for WSGI, a protocol that 
ensures web apps and web servers can communicate effectively.